@import "./reset.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  font-family: "Pretendard", sans-serif;
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: grid;
  grid-template-columns: min-content auto auto;
  gap: 200px;
  padding: 30px;
  padding-bottom: 15px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.081);
}

.navbar {
  margin: 0 auto;
}

.navbar__menu {
  display: flex;
  gap: 120px;
  font-weight: 600;
}

.navbar__menu_selected a {
  color: #00462a;
  text-decoration: underline;
}

.user {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}

.user__info__profile {
  height: 30px;
}
