@import "./reset.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  font-family: "Pretendard", sans-serif !important;
}

/* 색상 팔레트 */
:root {
  --ewhagreen: #00462a;
  --ewhagray: #b9b9b9;
  --ewhapear: #fffdf1;
  --ewhamint: #36ae92;
  --ewhacoral: #f27367;
  --gray: #8e8e93;
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: grid;
  grid-template-columns: min-content auto auto;
  gap: 200px;
  padding: 30px;
  padding-bottom: 15px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.081);
}

.navbar {
  margin: 0 auto;
}

.navbar__menu {
  display: flex;
  gap: 150px;
  font-weight: 500;
  color: var(--gray);
}

.navbar__menu_selected a {
  color: var(--ewhamint);
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.user * {
  color: var(--gray);
}
