@import "./styles.css";

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

.review-container {
    width: 650px;
    margin: 20px auto;
    padding: 20px;
}

.product-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E0E0E0;
}

.product-thumbnail {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    object-fit: cover;
}

.product-details {
    flex-grow: 1;
}

.product-details h2 {
    font-size: 16px;
    color: #333;
    margin: 0 0 5px 0;
    font-weight: bold;
}

.product-details p {
    color: #666;
    font-size: 14px;
    margin: 0;
}

.price {
    color: #333;
    font-size: 14px;
    margin-left: auto;
    font-weight: bold;
}

.rating-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 40px 0 20px 0;
}

.stars {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px 0;
}


.stars input[type="radio"] {
    display: none;
}

.stars label {
    font-size: 24px;
    cursor: pointer;
    color: #ddd;
}

.stars label:hover,
.stars label:hover ~ label {
    color: #FF8E8E;
}

.stars input[type="radio"]:checked ~ label {
    color: #FF8E8E;
}

.rating-label {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.review-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-row {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.form-groups-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
}

.camera-group {
    width: 120px; 
    height: 120px;  /* 너비와 동일하게 설정 */
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    flex-shrink: 0;
}

.camera-label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.camera-icon {
    width: 24px;
    height: 24px;
    opacity: 0.3;
}

label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px 12px;
    height: 36px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #F5F5F5;
    box-sizing: border-box;
}

input[type="text"]::placeholder,
textarea::placeholder {
    color: #999;
    font-size: 14px;
}

textarea {
    height: 120px;
    resize: none;
    padding: 12px;
}

.submit-btn {
    background-color: #1B4B36;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}