@import "./reset.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html {
  font-family: "Pretendard", sans-serif;
}

.navbar {
  display: grid;
}

.navbar__menu {
  display: flex;
}
